.elementor-63 .elementor-element.elementor-element-89aa4a3:not(.elementor-motion-effects-element-type-background), .elementor-63 .elementor-element.elementor-element-89aa4a3 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#3273DCDB;}.elementor-63 .elementor-element.elementor-element-89aa4a3{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-63 .elementor-element.elementor-element-89aa4a3 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-63 .elementor-element.elementor-element-a088aa6 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-63 .elementor-element.elementor-element-787ba7e{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:100px 50px 150px 50px;}.elementor-63 .elementor-element.elementor-element-787ba7e > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-63 .elementor-element.elementor-element-787ba7e > .elementor-shape-bottom svg{transform:translateX(-50%) rotateY(180deg);}.elementor-63 .elementor-element.elementor-element-aafc154 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-63 .elementor-element.elementor-element-aafc154{margin-top:0px;margin-bottom:0px;}.elementor-63 .elementor-element.elementor-element-d12b51e{text-align:center;}.elementor-63 .elementor-element.elementor-element-d12b51e .elementor-heading-title{color:var( --e-global-color-primary );font-family:"Domine", Sans-serif;font-size:50px;font-weight:600;}.elementor-63 .elementor-element.elementor-element-c8e741b{color:var( --e-global-color-primary );font-size:20px;}.elementor-63 .elementor-element.elementor-element-10d4fb6 img{width:200px;}.elementor-63 .elementor-element.elementor-element-6c5ead9 img{width:200px;}.elementor-63 .elementor-element.elementor-element-ce96b48 > .elementor-widget-container{margin:0px 0px 0px 0px;}:root{--page-title-display:none;}@media(min-width:768px){.elementor-63 .elementor-element.elementor-element-a9f5612{width:59.909%;}.elementor-63 .elementor-element.elementor-element-6bca06c{width:40.047%;}}@media(max-width:1024px){.elementor-63 .elementor-element.elementor-element-787ba7e{padding:100px 030px 100px 30px;}}@media(max-width:767px){.elementor-63 .elementor-element.elementor-element-787ba7e{padding:30px 00px 30px 0px;}}/* Start custom CSS for template, class: .elementor-element-a088aa6 */.elementor-63 .elementor-element.elementor-element-a088aa6 {
    width: 100%;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-89aa4a3 */.elementor-63 .elementor-element.elementor-element-89aa4a3 {
    margin: 0;
    padding: 0;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-10d4fb6 */.elementor-63 .elementor-element.elementor-element-10d4fb6 a {
    box-shadow: none !important;
    border: none !important;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-6c5ead9 */.elementor-63 .elementor-element.elementor-element-6c5ead9 a {
    box-shadow: none !important;
    border: none !important;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-ce96b48 */.elementor-63 .elementor-element.elementor-element-ce96b48 {
    animation: custom-bounce 5s ease-in-out infinite;
}

@keyframes custom-bounce {
  0%,
  50%,
  100% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(10px);
  }
  75% {
    transform: translateY(10px);
  }
}/* End custom CSS */